{% extends "stark/base.html" %}
{% block css %}
   <style>
        .form-group .input_style input,select{
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }

        .error{
            color: red;
        }
    </style>
{% endblock %}

{% load my_tags %}

{% block content %}
   <h3>添加数据</h3>

  {% get_form form config%}

  <div class="con"></div>
{% endblock %}

{% block js %}
   <script>

    function foo(res) {
        console.log(res);
        var res=JSON.parse(res);

        if (res.state){
             var ele_option=document.createElement("option");
            ele_option.value=res.pk;
            ele_option.innerHTML=res.text;
            ele_option.selected="selected";
            console.log(ele_option);
            document.getElementById(res.pop_id).appendChild(ele_option)
        }
    }
</script>
{% endblock %}



